<%= form_with(model: curso, local: true) do |form| %>
  <% if curso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(curso.errors.count, "error") %> prohibited this curso from being saved:</h2>

      <ul>
      <% curso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Código Curso' %>
    <%= form.number_field :cur_id %>
  </div>

  <div class="field">
    <%= form.label 'Nombre'%>
    <%= form.text_field :cur_nombre %>
  </div>

  <div class="field">
    <%= form.label 'Titulo a Obtener' %>
    <%= form.text_field :cur_tituloaobtener %>
  </div>

  <div class="field">
    <%= form.label 'Tipo' %>
    <%= form.text_field :cur_tipo %>
  </div>

  <div class="field">
    <%= form.label 'Fecha de inicio' %>
    <%= form.date_select :cur_fechainicio %>
  </div>

  <div class="field">
    <%= form.label 'fecha de finalización' %>
    <%= form.date_select :cur_fechafin %>
  </div>

  <div class="field">
    <%= form.label 'Hora de inicio' %>
    <%= form.time_select :cur_horainicio %>
  </div>

  <div class="field">
    <%= form.label 'Hora de finalización' %>
    <%= form.time_select :cur_horafin %>
  </div>

  <div class="field">
    <%= form.label 'Costo de inscripcion' %>
    <%= form.number_field :cur_costoinscripcion %>
  </div>

  <div class="field">
    <%= form.label 'CC docente a cargo' %>
    <%= form.text_field :doc_cedula %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
