<p id="notice"><%= notice %></p>

<h1>Cursos</h1>

<table>
  <thead>
    <tr>
      <th>Cur</th>
      <th>nombre</th>
      <th>tituloaobtener</th>
      <th>tipo</th>
      <th>fechainicio</th>
      <th>fechafin</th>
      <th>horainicio</th>
      <th>horafin</th>
      <th>costoinscripcion</th>
      <th>cedula</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cursos.each do |curso| %>
      <tr>
        <td><%= curso.cur_id %></td>
        <td><%= curso.cur_nombre %></td>
        <td><%= curso.cur_tituloaobtener %></td>
        <td><%= curso.cur_tipo %></td>
        <td><%= curso.cur_fechainicio %></td>
        <td><%= curso.cur_fechafin %></td>
        <td><%= curso.cur_horainicio %></td>
        <td><%= curso.cur_horafin %></td>
        <td><%= curso.cur_costoinscripcion %></td>
        <td><%= curso.doc_cedula %></td>
        <td><%= link_to 'ver', curso %></td>
        <td><%= link_to 'editar', edit_curso_path(curso) %></td>
        <td><%#= link_to 'borrar', curso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Curso', new_curso_path %>
