<p id="notice"><%= notice %></p>

<p>
  <strong>Cur:</strong>
  <%= @curso.cur_id %>
</p>

<p>
  <strong>Cur nombre:</strong>
  <%= @curso.cur_nombre %>
</p>

<p>
  <strong>Cur tituloaobtener:</strong>
  <%= @curso.cur_tituloaobtener %>
</p>

<p>
  <strong>Cur tipo:</strong>
  <%= @curso.cur_tipo %>
</p>

<p>
  <strong>Cur fechainicio:</strong>
  <%= @curso.cur_fechainicio %>
</p>

<p>
  <strong>Cur fechafin:</strong>
  <%= @curso.cur_fechafin %>
</p>

<p>
  <strong>Cur horainicio:</strong>
  <%= @curso.cur_horainicio %>
</p>

<p>
  <strong>Cur horafin:</strong>
  <%= @curso.cur_horafin %>
</p>

<p>
  <strong>Cur costoinscripcion:</strong>
  <%= @curso.cur_costoinscripcion %>
</p>

<p>
  <strong>Doc cedula:</strong>
  <%= @curso.doc_cedula %>
</p>

<%= link_to 'Edit', edit_curso_path(@curso) %> |
<%= link_to 'Back', cursos_path %>
