<%= form_with(model: grupo, local: true) do |form| %>
  <% if grupo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grupo.errors.count, "error") %> prohibited this grupo from being saved:</h2>

      <ul>
      <% grupo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'código del grupo' %>
    <%= form.number_field :grup_id %>
  </div>

  <div class="field">
    <%= form.label 'código del curso' %>
    <%= form.number_field :cur_id %>
  </div>

  <div class="field">
    <%= form.label 'cédula del estudiante' %>
    <%= form.number_field :est_cedula %>
  </div>

  <div class="field">
    <%= form.label 'cédula del docente' %>
    <%= form.number_field :doc_cedula %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
