<p id="notice"><%= notice %></p>

<p>
  <strong>Grup:</strong>
  <%= @grupo.grup_id %>
</p>

<p>
  <strong>Cur:</strong>
  <%= @grupo.cur_id %>
</p>

<p>
  <strong>Est cedula:</strong>
  <%= @grupo.est_cedula %>
</p>

<p>
  <strong>Doc cedula:</strong>
  <%= @grupo.doc_cedula %>
</p>

<%= link_to 'Editar', edit_grupo_path(@grupo) %> |
<%= link_to 'Atrás', grupos_path %>
