<p id="notice"><%= notice %></p>

<h1>Certificados</h1>

<table>
  <thead>
    <tr>
      <th>Cert</th>
      <th>Cert fechaexpedicion</th>
      <th>Grup</th>
      <th>Cur</th>
      <th>Est cedula</th>
      <th>Doc cedula</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @certificados.each do |certificado| %>
      <tr>
        <td><%= certificado.cert_id %></td>
        <td><%= certificado.cert_fechaexpedicion %></td>
        <td><%= certificado.grup_id %></td>
        <td><%= certificado.cur_id %></td>
        <td><%= certificado.est_cedula %></td>
        <td><%= certificado.doc_cedula %></td>
        <td><%= link_to 'Show', certificado %></td>
        <td><%= link_to 'Edit', edit_certificado_path(certificado) %></td>
        <td><%= link_to 'Destroy', certificado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Certificado', new_certificado_path %>
