<p id="notice"><%= notice %></p>

<p>
  <strong>Cert:</strong>
  <%= @certificado.cert_id %>
</p>

<p>
  <strong>Cert fechaexpedicion:</strong>
  <%= @certificado.cert_fechaexpedicion %>
</p>

<p>
  <strong>Grup:</strong>
  <%= @certificado.grup_id %>
</p>

<p>
  <strong>Cur:</strong>
  <%= @certificado.cur_id %>
</p>

<p>
  <strong>Est cedula:</strong>
  <%= @certificado.est_cedula %>
</p>

<p>
  <strong>Doc cedula:</strong>
  <%= @certificado.doc_cedula %>
</p>

<%= link_to 'Edit', edit_certificado_path(@certificado) %> |
<%= link_to 'Back', certificados_path %>
