<%= form_with(model: recibo, local: true) do |form| %>
  <% if recibo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recibo.errors.count, "error") %> prohibited this recibo from being saved:</h2>

      <ul>
      <% recibo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'id Recibo de pago' %>
    <%= form.number_field :rec_id %>
  </div>

  <div class="field">
    <%= form.label 'confirmación pago' %>
    <%= form.check_box :rec_confirmpago %>
  </div>

  <div class="field">
    <%= form.label 'id grupo' %>
    <%= form.number_field :grup_id %>
  </div>

  <div class="field">
    <%= form.label 'id curso' %>
    <%= form.number_field :cur_id %>
  </div>

  <div class="field">
    <%= form.label 'cédula estudiante' %>
    <%= form.number_field :est_cedula %>
  </div>

  <div class="field">
    <%= form.label 'cédula docente'%>
    <%= form.number_field :doc_cedula %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
