<p id="notice"><%= notice %></p>

<h1>Recibos</h1>

<table>
  <thead>
    <tr>
      <th>Rec</th>
      <th>Rec confirmpago</th>
      <th>Grup</th>
      <th>Cur</th>
      <th>Est cedula</th>
      <th>Doc cedula</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recibos.each do |recibo| %>
      <tr>
        <td><%= recibo.rec_id %></td>
        <td><%= recibo.rec_confirmpago %></td>
        <td><%= recibo.grup_id %></td>
        <td><%= recibo.cur_id %></td>
        <td><%= recibo.est_cedula %></td>
        <td><%= recibo.doc_cedula %></td>
        <td><%= link_to 'Ver', recibo %></td>
        <td><%= link_to 'Editar', edit_recibo_path(recibo) %></td>
        <td><%= link_to 'Borrar', recibo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Recibo', new_recibo_path %>
