<p id="notice"><%= notice %></p>

<p>
  <strong>Rec:</strong>
  <%= @recibo.rec_id %>
</p>

<p>
  <strong>Rec confirmpago:</strong>
  <%= @recibo.rec_confirmpago %>
</p>

<p>
  <strong>Grup:</strong>
  <%= @recibo.grup_id %>
</p>

<p>
  <strong>Cur:</strong>
  <%= @recibo.cur_id %>
</p>

<p>
  <strong>Est cedula:</strong>
  <%= @recibo.est_cedula %>
</p>

<p>
  <strong>Doc cedula:</strong>
  <%= @recibo.doc_cedula %>
</p>

<%= link_to 'Edit', edit_recibo_path(@recibo) %> |
<%= link_to 'Back', recibos_path %>
